[package]
name = "spherre"
version = "0.1.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.9.2"
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.35.1" }
assert_macros = "2.9.2"

[tool.fmt]
sort-module-level-items = true

[[target.starknet-contract]]
casm = true
sierra = true

[scripts]
test = "snforge test"